#body-wrapper {
  background-color: ghostwhite;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.threat-info-site-link {
  background-color: ghostwhite;
}
